body {
  text-align: center;
  margin-top: 30px;
  font-family: "Courier";
  background-color: #CF9FFF;
  color: #BF40BF;
}

img {
  height: 400px;
  width: auto;
  padding: 10px;
}

#valentineQuestion {
  font-size: 50px;
  margin-bottom: 10px;
}
.answerButton {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 20px;
  background-color: lightgreen;
  color: #BF40BF;
  border-radius: 12px;
  border: 2px solid green;
  box-shadow: 1px 1px 2px #BF40BF;
  transition: 0.3s;
}

.answerButton:hover {
  background-color: lightgreen;
  color: #BF40BF;
  border: 2px solid green;
  box-shadow: 1px 1px 2px #CF9FFF;
}
